:root {
	/* Shadows */
	--shadow-search: 0 8px 18px rgba(15, 23, 42, 0.08);
	--shadow-search-hover: 0 10px 22px rgba(15, 23, 42, 0.1);

	--shadow-card: 0 12px 40px rgba(0, 0, 0, 0.08);

	--shadow-danger: 0 8px 18px rgba(250, 0, 0, 0.1);
	--shadow-danger-hover: 0 10px 20px rgba(250, 0, 0, 0.14);
	--shadow-danger-active: 0 12px 22px rgba(250, 0, 0, 0.18);

	--shadow-primary: 0 8px 18px rgba(25, 175, 225, 0.22);
	--shadow-primary-hover: 0 10px 22px rgba(25, 175, 225, 0.28);
	--shadow-primary-active: 0 6px 14px rgba(25, 175, 225, 0.26);

	// bottombarFab
	--shadow-bottombar:
		0 12px 28px rgba(2, 8, 23, 0.14), 0 2px 6px rgba(2, 8, 23, 0.08);
	--shadow-bottombar-active:
		0 16px 34px rgba(2, 8, 23, 0.16), 0 4px 10px rgba(2, 8, 23, 0.1);
}
