.bottombar {
	height: 70px;
	background: #e6e6e6;
	position: relative;
}

@media (max-width: 700px) {
	.bottombar {
		height: 60px;
	}
}

@media (max-width: 520px) {
	.bottombar {
		height: 56px;
	}
}
